:root {
  --colorDark: rgb(53, 50, 43);
  --colorLight: rgb(255, 249, 228);
  --color1: rgb(247, 72, 79);
  --color2: rgb(248, 186, 139);
  --color3: rgb(65, 90, 218);
}

* {
  box-sizing: border-box;
  margin: 0;
  /*color: var(--colorDark);*/
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 100%, 0);*/
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

body {
  opacity: 0;
  font-family: Futura, Arial;
  color: black;
  animation: fadeIn .5s ease-in .5s 1 forwards;
  background-color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

header a {
  display: block;
}

header img {
  display: block;
  margin: auto;
  width: 10%;
  filter: invert(0%);
  transition: filter 0.5s ease-in-out;
}

header img:hover {
  filter: invert(100%);
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  animation: fadeInUp .5s ease-in-out .5s 1;
  transition-property: opacity, color;
  transition-duration: .2s, .2s;
  transition-timing-function: ease-in-out;
  font-size: 1.25em;
}

nav:hover a {
  opacity: 0.2;
}

nav a:hover {
  opacity: 1;
  color: var(--color1);
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  letter-spacing: 10px;
  color: white;
  animation: fadeInUp .5s ease-in-out .5s 1;
}

main {
  display: flex;
  flex-wrap: wrap;
  /*z-index: 1;*/
}

body, html {
  height: 100%;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


aside {
  flex: 15%;
  /*background-color: var(--color2);*/
}

.sectioncontainer {
  display: flex;
  flex-direction: column;
  flex: 70%;
}

.sectioncontainer section{
  padding: 50px;
  animation: fadeInUp .5s ease-in-out .5s 1;
}

article {
  margin-top: 10px;
  margin-bottom: 10px;
  animation: fadeInUp .5s ease-in-out .5s 1;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*background-color: var(--colorLight);*/
}

.square {
  display: flex;
  height: 300px;
  width: 300px;
  margin: 10px;
  /*background-color: red;*/
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  /*border-radius: 15px;*/
}

.square img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: transform .9s ease-in-out;
}

iframe {
  height: 300px;
  width: 300px;
  transition: transform .9s ease-in-out;
  /*border-radius: 15px;*/
}

.square img:hover,
.square iframe:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 700px) {
  header img {
    width: 50%;
  }

  nav {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: .6em;
  }

  .square {
    height: 250px;
    width: 250px;
  }

  .square img {
    height: 250px;
    width: 250px;
  }

  iframe {
    height: 250px;
    width: 250px;
  }
}

#myVideo {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.experience:hover {
  color: var(--color1);
}

.experience>* {
  transition: color .3s ease-in-out;
}

.experience>*:hover {
  color: var(--color3);
}

.experience ::selection {
  color: var(--color1);
  background: var(--color3);
}
